src
scripts
.babelrc
.github
webpack.config.ts
tslint.json

.tmp
deprecated
test
examples
tsconfig.json
.eslintignore
.eslintrc.js
tslint-to-eslint-config.log

# local pack (`npm pack` result)
somnus-*.tgz

# GitHub file
_config.yml
